{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrappera">
        <div id="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-5">
                        <h2>Directories</h2>
                        {% if directory is not null %}
                            Current directory: {{ directory.name }}
                            {% if directory.parent is not null %}
                                <a href="{{ path('app_directory_list', {'directory': directory.parent.id}) }}">^UP^</a>
                            {% else %}
                                <a href="{{ path('app_directory_list', {'directory': null}) }}">^UP^</a>
                            {% endif %}
                        {% endif %}
                        <ul>
                            {% if directories is defined %}
                                {% for directory in directories %}
                                    <li>
                                        <a href="{{ path('app_directory_list', { 'directory' : directory.id }) }}"> {{ directory.name }}</a>
                                        &nbsp;|&nbsp;Files count: {{ directory.files | length }}
                                        &nbsp;|&nbsp;Last
                                        modification: {{ directory.lastModification | date('Y-m-d H:i:s') }}
                                        <a class="btn btn-default"
                                           href="{{ path('app_directory_edit', { 'directory' : directory.id }) }}">Edit</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                No directries
                            {% endif %}
                        </ul>

                    </div>
                    <div class="col-md-7">
                        <h2>Files</h2>
                        <ul>
                            {% if files is defined %}
                                {% for file in files %}
                                    <li>
                                        <a href="{{ path('app_file_download', { 'file': file.id}) }}"> {{ file.name }}</a>
                                        &nbsp;|&nbsp;Size: {{ file.size }}
                                        &nbsp;|&nbsp;Last
                                        modification: {{ file.lastModification | date('Y-m-d H:i:s') }}
                                        <a class="btn btn-default"
                                           href="{{ path('app_file_edit', { 'file' : file.id }) }}">Edit</a>
                                    </li>
                                {% endfor %}
                            {% else %}
                                No files
                            {% endif %}
                        </ul>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5">
                        <div>
                            {{ form_start(directoryForm) }}
                            {{ form_widget(directoryForm) }}
                            {{ form_end(directoryForm) }}
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div>
                            {{ form_start(fileForm) }}
                            {{ form_widget(fileForm) }}
                            {{ form_end(fileForm) }}
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style>
        body {
            background: #F5F5F5;
            font: 18px/1.5 sans-serif;
        }

        h1, h2 {
            line-height: 1.2;
            margin: 0 0 .5em;
        }

        h1 {
            font-size: 36px;
        }

        h2 {
            font-size: 21px;
            margin-bottom: 1em;
        }

        p {
            margin: 0 0 1em 0;
        }

        a {
            color: #0000F0;
        }

        a:hover {
            text-decoration: none;
        }

        code {
            background: #F5F5F5;
            max-width: 100px;
            padding: 2px 6px;
            word-wrap: break-word;
        }

        #wrapper {
            background: #FFF;
            margin: 1em auto;
            max-width: 800px;
        }

        #container {
            padding: 2em;
        }

        #welcome, #status {
            margin-bottom: 2em;
        }

        #welcome h1 span {
            display: block;
            font-size: 75%;
        }

        #icon-status, #icon-book {
            float: left;
            height: 64px;
            margin-right: 1em;
            margin-top: -4px;
            width: 64px;
        }

        #icon-book {
            display: none;
        }

        @media (min-width: 768px) {
            #wrapper {
                margin: 2em auto;
            }

            #icon-book {
                display: inline-block;
            }

            #status a, #next a {
                display: block;
            }

            @-webkit-keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            @keyframes fade-in {
                0% {
                    opacity: 0;
                }
                100% {
                    opacity: 1;
                }
            }
            .sf-toolbar {
                opacity: 0;
                -webkit-animation: fade-in 1s .2s forwards;
                animation: fade-in 1s .2s forwards;
            }
        }
    </style>
{% endblock %}
